@page "/"

<PageTitle>Index</PageTitle>



<h1>.NET 7</h1>



<div class="mb-5">
    <ul>
        <li>Azure MySQL</li>
        <li>Azure AppService</li>
        <li>Entity Framework 7</li>
        <li>ASP NET Core</li>
        <li>Blazor WASM</li>      
    </ul>
</div>
<h6 class="mb-5">Sovelluksen voi ladata osoiterivillä olevasta napista. Se latautuu selaimen muistiin eikä levylle ja käyttäytyy kuin natiivi sovellus, myös puhelimissa. Toimii myös off-line tilassa.</h6>

<div class="mb-5">
    <SurveyPrompt Title="Kysyttävää?" />
</div>

<h4 class="mb-2">Tunnetut Bugit</h4>
<div class="mb-5">
    <ul>
        <li>Aloitus- ja lopetusajan voi syöttää niin että kanta laskee suoritusaika minuutit negatiiviseksi</li>
        <li>Koordinaattien desimaalierotin määräytyy käyttäjän selaimen kieliasetusten mukaan. Suomalaisessa 'piste' ei toimi, eikä data mene kantaan.</li>     
    </ul>
</div>